@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
html, body {
	min-height: 100%
}
img {
	border: none;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%
}
body {
	position: relative;
	color: #212121;
	font-family: Arial;
	font-size: 14px;
	background: #f4f4f4;
	background-size: cover;
	background-attachment: fixed;
}
ul {
	list-style-type: none;
}
a {
	color: #d13939;
	text-decoration: none;
	border: none;
}
p {
	font-size: 12px;
	line-height: 20px;/*white-space: pre-wrap;*/
}

h5 {
	font-size: 18px;
	line-height: 22px;
}
 @media screen and (max-width: 960px) {
h5 {
	font-size: 14px;
	line-height: 16px;
}
}

.clear {
	clear: both;
}
pre {
	white-space: pre-wrap!important;
}
code {
	font-family: Arial;
	line-height: 24px;
}
/*--------------------------------------------Header----------------------------------------------*/


.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	text-align: center;
	z-index: 9998;
	transition: 0.4s;/*background: rgba(11,11,11,0);*/
}
.header:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70%;
	background-color: rgba(0, 0, 0, 0.76);
	/* opacity: 0; */
	filter: alpha(opacity=0);
}
.header_small {
	height: 50px !important;
	transition: 0.4s;
}
.header_small:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8 !important;
	filter: alpha(opacity=80);
}
.logo {
	position: absolute;
	max-width: 300px;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
	text-align: left;
	transition: 0.4s;
	z-index: 99;
}
.logo img {
	vertical-align: top;
}
.logo_small {
	position: absolute;
	left: 0;
	line-height: 50px;
	width: auto;
	height: 50px;
	z-index: 1999;
}
.nav {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	text-align: right;
}
.nav ul {
	position: relative;
	top: 32px;
	z-index: 999;
	transition: 0.4s;
}
.nav li {
	position: relative;
	display: inline-block;
	*display:inline;
	margin-left: 24px;
	padding-left: 12px;
}

.nav li img{
	position: absolute;
	max-width: 300px;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
	text-align: left;
	transition: 0.4s;
	z-index: 99;
	padding-right: 100%;
}
.nav .on a:after {
	content: "";
	position: absolute;
	top: 26px;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: #fff;
}
.nav li > a {
	display: inline-block;
	padding: 5px 0 16px 0;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 2px;
	transition: 0.4s;
	opacity: 1;
	filter: alpha(opacity=100);
}

/*--------------------------------------------General----------------------------------------------*/
.content {
	margin-bottom: 40px;
	margin-top: 8%;
}
.section {
	position: relative;
	width: 1200px;
	margin: 40px auto;
	padding: 30px;
	background: #fff;
	background: rgba(255,255,255,.6);
	box-sizing: border-box;
}
.section {
	text-align: center;
}

.section:after, .section2:after, .footer_cell:after, ul.page:before, .formBtn:before {
	content: "";
	display: block;
	height: 0;
	clear: both;
}
.section_title_1 h5 {
	position: relative;
	margin-top: 10px;
	font-size: 25px;
	color: darkorange;
	padding-bottom: 10px;
}
.section_title_1 h5:after {
	content: "";
	position: absolute;
	width: 30px;
	height: 1px;
	top: 30px;
	left: 50%;
	margin-left: -15px;
	background-color: #212121;
}
.section_title_1 span{
	display: block;
	margin: 2px 0 10px 0;
	font-weight: 700;
	font-size: 30px;
	color: #d13939;
	font-family: Arial;
	line-height: 36px;
}

/*  --------------------------------form ------------------------------- */

input, textarea {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 4px;
	border: 1px solid #ccc;
	resize: vertical;
}

input[type=submit] {
	background-color: lightsalmon;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: center;
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
}

input[type=submit]:hover {
	background-color: #ccc;
}

/*--------------------------------------------gallery----------------------------------------------*/

.pic_box {
	position: relative;
	left: 5px;
	float: left;
	width: 50%;
	padding: 10px;
	padding-right: 20px;
	box-sizing: border-box;
}

.pic_box {
	position: relative;
	margin-bottom: 10px;
}
.pic_box_img {
	position: relative;
}
.pic_box_img img {
	width: 100%;
}
.pic_box_img span {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	background-color: #888;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: 0.4s;
}
.pic_box_link {
	padding: 12%;
	text-align: left;
}

.pic_box p {
	position: relative;
	font-size: 18px;
	left: 0;
	color: rgb(99, 97, 97);
	padding: 10px 0;
	/* transition: 0.4s; */
	z-index: 2;
	text-align: left;
}

 @media screen and (min-width: 1024px) {
.pic_box_img:hover span {
	margin: 30px;
	opacity: 0.3;
	filter: alpha(opacity=40);
}

}
/*--------------------------------------Footer-------------------------------------------*/

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 30px 0;
	background-color: #000;
	opacity: 0;
	margin-top: 50px;
	box-sizing: border-box;
	transition: 0.3s;
}
.footer_cell {
	width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}

/*-----------------------------------Responsive---------------------------------------*/


@media screen and (max-width: 1279px) {
.nav li a {
	font-size: 14px;
}
.section, .nav, .footer_cell {
	width: 960px;
}
.section_title_1 span {
	font-size: 24px;
}

p.caption {
	font-size: 20px;
}

}
 @media screen and (max-width: 959px) {
/*------------------Extend---------------*/
.header {
	height: 50px !important;
	background: rgba(11,11,11,.9);
}
.section,  .nav, .footer_cell {
	width: 100%;
}
.logo {
	line-height: 50px;
	width: auto;
	height: 50px;
}
.side_close, .nav_icon {
	display: block;
}
.nav ul {
	position: absolute;
	top: 0;
	right: -150px;
	background-color: rgba(22,22,22,.8);
	width: 150px;
	height: 999px;
	padding: 24px;
	padding-top: 60px;
	transition: 0.5s;
	box-sizing: border-box;
}
/*.nav li{display: block;}*/
.nav li a {
	font-size: 12px;
	font-weight: 100;
	padding: 4px 0;
	margin-bottom: 8px;
}
.footer_cell {
	width: 100%;
}
.slider_main, .slider_sub {
	top: 50px;
}
#slider-pager, .icon_down, .mouse {
	display: none;
}
p.caption {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0;
	color: #fff;
	background-color: #000;
	font-size: 16px;
}
.content {
	margin-top: 50px;
}
/*------------------------------------CONTENT-------------------------------------*/
.slider_sub {
	min-height: 0;
}
.pic_box {
	left: 0
}
}
 @media screen and (max-width: 600px) {
.setting img {
	padding: 0;
}
p.caption {
	font-size: 14px;
}
.section{
	padding: 20px;
}
.section_title_1 span, .section_title_2 span {
	font-size: 18px;
}

.pic_box p {
	font-size: 14px;
}
.service_box, .pic_box, .news_box_samll {
	padding: 0
}



.pagess {clear: both;margin: 20px;overflow: hidden;margin-left: 0px;text-align: center;font-size:12px}
.pagess ul li { display:inline-block;border: 1px solid #ccc;padding: 2px 9px;margin: 0 3px;line-height: 20px;background: #fff;color:#999}
.pagess ul li:hover{ background:#ccc; color:#fff;border: 1px solid #ccc}
.pagess ul li:hover a{color:#fff;}
.pagess ul li.thisclass {display: inline-block;border: 1px solid #ccc;padding: 2px 9px;margin: 0 3px;background: #ccc;color: #fff;}
.pagess ul li.thisclass a {color: #fff;}
.pagess ul li a{ display:block;color:#999}
.pagess ul li a:hover {color: #fff;}
